@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

html,
body {
  box-sizing: border-box;
  margin: 3em 0 1em 0;
}

html * {
  font-family: "Noto Sans";
}

#description {
  max-width: 80ch;
  margin: 0 auto 3em auto;
  font-weight: 300;
  font-size: 1.125em;
}

.small-text {
  font-size: 0.8em;
}

.post-scriptum {
  font-style: italic;
  color: #333;
  font-weight: 200;
}

#carousel {
  max-height: 90vh;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  scroll-behavior: smooth;
}

#carousel img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: relative;
  padding: 0;
  margin: 0;
}

#carousel button {
  background: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  height: 90vh;
  text-shadow: 0 0 5px white;
}

#carousel button svg {
  height: 4em;
  width: 4em;
  transform: scale(1.3);
  transform-origin: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 9999px;
  box-shadow: 0px 1px 10px #555;
  transition: color 0.05s ease-in;
}

#carousel button svg path {
  transform: scale(1.3);
  transform-origin: center;
}

#carousel button.left {
  left: 2rem;
}

#carousel button.right {
  right: 2rem;
}

@media screen and (max-width: 900px) {
  body {
    margin: 3em 1em 1em 1em;
  }
  #carousel button svg {
    height: 3em;
    width: 3em;
  }
}
